* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Red Rose', cursive;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
}

header {
	padding: 100px 0 50px 0;
	min-height: 650px;
	background: url(../img/bg_body.jpeg) center center/cover no-repeat;
}

h1 {
	text-align: center;
	color: white;
	font-size: 50px;
}

.array {
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	height: 50px;
	width: 200px;
	font-size: 15px;
	border-radius: 10px;
	background-color: #c8caf7;
}

.array a {
	text-decoration: none;
	color: #1d0142;
}

.array:focus {
	outline: none;
}

.array:hover {
	background-color: white;
	cursor: pointer;
}

#hw4 {
	padding: 50px 0 50px 0;
	min-height: 800px;
	background-color: #f1e8fc;
}

#hw4 p {
	text-align: center;
	margin-bottom: 20px;
}

#hw4 h2 {
	text-align: center;
	font-size: 30px;
	margin-bottom: 30px;
}
